.car {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    margin: 20px auto;
  }
  
  .car-body {
    position: absolute;
    top: -6px;
    left: 15px;
    width: 30px;
    height: 15px;
    background-color: black;
    border-radius: 5px 5px 0 0;
  }
  
  .wheel {
    position: absolute;
    bottom: -3px;
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
  }
  
  .wheel.left {
    left: 10px;
  }
  
  .wheel.right {
    right: 10px;
  }
  